{% extends "layout.twig" %}

{% block content %}

<div class="row">
    <div class="three cols">
        <header class="bk-header">
            {{widget('logo', 'WISCONSIN-logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'WISCONSIN-bar', {"business": "profile"})|raw}}
            {{widget('image', 'menu-feature', { 'src': asset('images/menu-feature.png'), 'imageWidth': '100%'})|raw}}
            <nav class="text-center">
                {% if pages|length > 1 %}
                {{widget('extendednavigation', 'navigationheader', {})|raw}}
            {% endif %}
            </nav>
        </header>
    </div>
    <div role ="main" class="nine cols">
        {{widget('gallery', 'featuregallery', {})|raw}}
        {{zone('main')|raw}}
        <footer class="bk-footer">
            {{widget('content', 'footer-header', {content: '<h1>Contact Us</h1>', lines: 'all'})|raw}}
            {{widget('companyaddress', 'footer-address', {})|raw}}
            {{widget('clicktocall', 'footer-phone', {phoneText: '0800 123 123'})|raw}}
        </footer>
    </div>
</div>

<script src="{{asset('assets/isotape.js')}}"></script>
<script>

(function ()
{
    // Add the niceScroll plugin to the iframe html element
    $(document).ready(function ()
    {
        var featuregallery = $('#page-zones__template-widgets__gallery-featuregallery'),
            timeout = null,
            setuptimeout = null;

        function setUpGallery() {
            featuregallery.isotope({
                itemSelector: 'li',
                masonry: {}
            });
        }

        featuregallery.on('prerender', function() {
            featuregallery.isotope('destroy');
        });

        featuregallery.on('rendered', function(){
            clearTimeout(setuptimeout);
            setuptimeout = setTimeout(function() {
                setUpGallery();
            },1000);
        });

        window.addEventListener( 'resize', function() {
            //clearTimeout(timeout);
            //timeout = setTimeout(function() {
                featuregallery.isotope('reLayout');
            //},1000);
        }, false );

        setUpGallery();
    });
}());
</script>

{% endblock %}